<a
  href="/"
  class="mb-10 font-medium inline-flex items-center gap-2 bg-white dark:bg-slate-900 px-3 py-1.5 rounded-md text-xs font-medium border-[0.5px] border-slate-300 dark:border-slate-700"
>
  <svg
    class="stroke-2 size-4"
    width="24"
    height="24"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    stroke-linecap="round"
    stroke-linejoin="round"
    xmlns="http://www.w3.org/2000/svg"
    ><path d="M19.5 12h-15m0 0 5.625-6M4.5 12l5.625 6"></path></svg
  >
  All Tips
</a>
