---
import { Icon } from "astro-icon/components";
---

<a
  href="/"
  class="mb-10 font-medium inline-flex items-center gap-2 bg-white dark:bg-slate-900 px-3 py-1.5 rounded-md text-xs font-medium border-[0.5px] border-slate-300 dark:border-slate-700"
>
  <Icon name="mynaui:arrow-left" class="stroke-2 size-4" /> All Tips
</a>
